# Q1:

In [32]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (4.3.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: certifi in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: six>=1.5.2 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [33]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [35]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [36]:
driver.get("https://www.naukri.com/")

In [37]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [38]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [39]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [40]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [41]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [42]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [43]:
#creating the dataframe from above data-
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'Exp_required':experience_required})
df

,job_title,job_location,company_name,Exp_required
0,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
2,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,2-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,Cargill,3-5 Yrs
4,"Data Analyst, plsql, Tableau, Informatica","Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Capgemini,3-8 Yrs
5,Senior Data Analyst - SQL/Tableau,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Global Employees,7-12 Yrs
6,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
7,Data Analyst - Data Visualization & Reporting,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Global Employees,5-10 Yrs
8,Data Analyst,Bangalore/Bengaluru,Bright Money,0-2 Yrs
9,Leap COE Intern(Data Analyst),Bangalore/Bengaluru,Info Origin Inc.,0-1 Yrs

# Q2:

In [44]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: attrs>=19.2.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: certifi in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: six>=1.5.2 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [45]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [46]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [47]:
driver.get("https://www.naukri.com/")

In [48]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [49]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [50]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [51]:
job_title=[]
job_location=[]
company_name=[]

In [52]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [53]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [54]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name})
df

,job_title,job_location,company_name
0,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
4,Data Science Senior Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
5,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
8,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",United Phosphorus Limited
9,BCAI - Senior Data Scientist,Bangalore/Bengaluru,Bosch Global Software Technologies

# Q3:

In [63]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: cffi>=1.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: certifi in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: six>=1.5.2 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [64]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [65]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [66]:
driver.get(' https://www.naukri.com/')

In [67]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')

In [68]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [71]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [72]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [73]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [74]:
#creating the dataframe from above data-
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'Exp_required':experience_required})
df

,job_title,job_location,company_name,Exp_required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
4,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
5,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
6,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
7,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
8,Data Scientist,"Noida, Gurgaon/Gurugram, Jaipur",Celebal Technologies,1-5 Yrs
9,Data Scientist,Gurgaon/Gurugram,Webhelp India Private Limited,2-7 Yrs

# Q4:

In [26]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: certifi in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [27]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [28]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [58]:
driver.get(' https://www.flipkart.com/')

In [30]:
search_products=driver.find_element(By.CLASS_NAME,'_3704LK')
search_products.send_keys('sunglasses')

In [31]:
search=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search.click()

In [32]:
brand_name=[]
product_description=[]
product_price=[]
product_discount=[]

In [51]:
#Scraping the brand name from the given page
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    brand=i.text
    brand_name.append(brand)
#scraping the product description from the given page
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    description=i.text
    product_description.append(description)
#scraping the price from the given page
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    product_price.append(price)
#scraping the product discount from the given page
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
for i in discount_tags[0:100]:
    discount=i.text
    product_discount.append(discount)

In [52]:
print(len(brand_name),len(product_description),len(product_price),len(product_discount))

100 100 100 100

In [53]:
#creating the dataframe from above data- from first page
df=pd.DataFrame({'brand_name':brand_name,'product_description':product_description,'product_price':product_price,'product_discount':product_discount})
df

,brand_name,product_description,product_price,product_discount
0,GANSTA,"Night Vision, Riding Glasses Rectangular Sungl...",₹242,81% off
1,New Specs,UV Protection Aviator Sunglasses (Free Size),₹214,86% off
2,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
3,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹749,70% off
4,Ray-Ban,UV Protection Retro Square Sunglasses (55),"₹3,289",40% off
...,...,...,...,...
95,CRYSTAL CART,"Polarized, Gradient, UV Protection, Mirrored O...",₹245,87% off
96,AISLIN,"UV Protection, Gradient Retro Square Sunglasse...",₹498,67% off
97,Fastrack,UV Protection Aviator Sunglasses (58),₹987,24% off
98,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹899,10% off
99,john jacobs,UV Protection Round Sunglasses (53),"₹3,325",33% off

# Q5:

In [14]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: cffi>=1.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [15]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [16]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [17]:
driver.get('https://www.flipkart.com/')

In [18]:
search_products=driver.find_element(By.CLASS_NAME,'_3704LK')
search_products.send_keys('iphone_11')

In [19]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [23]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [24]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone_11&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=fc0d0dfb-12ad-4811-af42-47db99acc8bf.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=kn4v9evidc0000001660928526602&qH=7bd6641e9a6b9748')

In [35]:
phone_rating=[]
review_summary=[]
full_review=[]

In [36]:
#Scraping the phone_rating from the given page
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:10]:
    rating=i.text
    phone_rating.append(rating)
#scraping the review summary from the given page
summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in summary_tags[0:10]:
    summary=i.text
    review_summary.append(summary)
#scraping the full review from the given page
review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in review_tags[0:10]:
    review=i.text
    full_review.append(review)

In [37]:
print(len(phone_rating),len(review_summary),len(full_review))

10 10 10

In [38]:
#creating the dataframe from above data- from first page
df=pd.DataFrame({'phone_rating':phone_rating,'review_summary':review_summary,'full_review':full_review})
df

,phone_rating,review_summary,full_review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,,,
4,,,
5,,,
6,,,
7,,,
8,,,
9,,,

# Q6:

In [115]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (4.3.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: sniffio in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [116]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [117]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [118]:
driver.get(' https://www.flipkart.com/')

In [119]:
search_products=driver.find_element(By.CLASS_NAME,'_3704LK')
search_products.send_keys('sneakers')

In [120]:
search=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search.click()

In [149]:
brand_name=[]
product_description=[]
product_price=[]

In [150]:
#Scraping the brand name from the given page
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:38]:
    brand=i.text
    brand_name.append(brand)
#scraping the product description from the given page
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:40]:
    description=i.text
    product_description.append(description)
#scraping the price from the given page
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:38]:
    price=i.text
    product_price.append(price)

In [151]:
print(len(brand_name),len(product_description),len(product_price))

38 38 38

In [152]:
#creating the dataframe from above data- from first page
df=pd.DataFrame({'brand_name':brand_name,'product_description':product_description,'product_price':product_price,})
df

,brand_name,product_description,product_price
0,WELDONE,LIVES-BROWN Sneakers For Men,₹365
1,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹599
2,aadi,Mesh | Ultralightweight | Comfortable | Breath...,₹374
3,PUMA,Puma Smash Wns v2 L Sneakers For Women,"₹1,542"
4,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹544
5,Layasa,supr Sneakers For Men,₹228
6,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹397
7,aadi,Mesh Sneakers For Men,₹749
8,Layasa,Sneakers For Men,₹349
9,Layasa,supr Sneakers For Men,₹199
10,Magnolia,Sneakers For Men,₹374
11,BERSACHE,Casual Sneakers Shoes for Men Pack of 2 Combo(...,₹444
12,Labbin,Sneakers For Men,₹499
13,Deals4you,Sneakers For Women,₹373
14,Numenzo,411 Casual Sneakers For Men,₹449
15,SiR CORBETT,Sneakers For Men,₹908
16,AMICO,Sneakers For Men,₹466
17,Kzaara,Sneakers For Men,₹259
18,PUMA,Glory Sneakers For Men,"₹1,747"
19,Afreet,Sneakers For Men,₹529
20,SCATCHITE,Sneakers Sneakers For Men,₹351
21,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹297
22,PUMA,Puma Smash v2 Sneakers For Men,"₹2,115"
23,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹636
24,Robbie jones,Casual Sneakers Black Outdoor Shoes For Boys A...,₹509
25,Sparx,Men White Sneakers Sneakers For Men,₹709
26,Chevit,Sneakers For Men,₹239
27,Jabra,Sneakers For Women,₹289
28,Deals4you,SM-747 Sneakers For Men,₹479
29,Sparx,Caracal Sneakers For Men,₹764
30,PUMA,Sneakers For Men,"₹2,718"
31,SiR CORBETT,Sneakers For Men,₹908
32,Rzisbo,Sneakers For Men,₹458
33,Deals4you,Sneakers For Men,₹381
34,CLYMB,Sneakers For Men,₹463
35,MOCHI,"Casuals, Canvas, Partywear Sneakers For Men","₹1,944"
36,Kraasa,Modern Trendy Sneakers boot Sneakers For Men,₹449
37,Xtoon,Sneakers For Men,₹424

In [159]:
brand_name=[]
product_description=[]
product_price=[]

In [160]:
#Scraping the brand name from the given page
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:39]:
    brand=i.text
    brand_name.append(brand)
#scraping the product description from the given page
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:40]:
    description=i.text
    product_description.append(description)
#scraping the price from the given page
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:39]:
    price=i.text
    product_price.append(price)

In [161]:
print(len(brand_name),len(product_description),len(product_price))

39 39 39

In [162]:
#creating the dataframe from above data- from first page
df=pd.DataFrame({'brand_name':brand_name,'product_description':product_description,'product_price':product_price,})
df

,brand_name,product_description,product_price
0,BRUTON,Lattest Sneakers Shoe Sneakers For Men,₹299
1,RED TAPE,Sneakers For Men,"₹1,619"
2,Chevit,Latest Women's Pack of 2 Stylish Slip-On Loafe...,₹449
3,WELDONE,LIVES-BROWN Sneakers For Men,₹365
4,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499
5,LuvShus,Men Casual Shoe New Trend With Fashion Panda D...,₹410
6,ASTEROID,Original Luxury Branded Black Fancy Casual Wal...,₹499
7,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹599
8,Layasa,Sneakers For Women,₹398
9,RED TAPE,Sneakers For Men,"₹1,559"
10,Layasa,Sneakers For Men,₹399
11,aadi,Mesh Sneakers For Men,₹749
12,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹459
13,LEVI'S,Levi's Men's Lancer Sneakers Sneakers For Men,"₹1,759"
14,Noztile,Sneakers For Men,₹399
15,BERSACHE,Casual Sneakers Shoes for Men Pack of 2 Combo(...,₹444
16,HOTSTYLE,Sneakers For Men,₹272
17,PUMA,Puma Smash v2 L Sneakers For Men,"₹2,134"
18,Kraasa,Series 7 Sneakers For Men,₹499
19,SiR CORBETT,Sneakers For Men,₹908
20,BRUTON,Exclusive Sneaker Shoes Sneakers For Men,₹366
21,LEVI'S,Levi's Men's Henry Sneakers Sneakers For Men,"₹1,539"
22,Layasa,Sneakers For Men,₹351
23,Afreet,Sneakers For Men,₹529
24,aadi,Sneakers For Men,₹399
25,BIRDE,Sports Running Shoes Sneakers For Men,₹299
26,Kraasa,Shark-41 Sneakers For Men,₹499
27,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹636
28,ONECENTRE,STR2 Sneakers For Men,₹299
29,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹319
30,PUMA,Smash Wns v2 L Sneakers For Women,"₹1,715"
31,Jabra,Sneakers For Men,₹289
32,Roadster,Cilia Sneakers For Women,₹959
33,PUMA,Sneakers Sneakers For Men,"₹2,400"
34,HOTSTYLE,Sneakers For Men,₹265
35,SiR CORBETT,Sneakers For Men,₹908
36,Magnolia,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499
37,Chevit,Casual Sneakers Canvas Shoes For Men Sneakers ...,₹499
38,Robbie jones,Sneakers For Men,₹529

In [176]:
brand_name=[]
product_description=[]
product_price=[]

In [177]:
#Scraping the brand name from the given page
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:20]:
    brand=i.text
    brand_name.append(brand)
#scraping the product description from the given page
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:20]:
    description=i.text
    product_description.append(description)
#scraping the price from the given page
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:20]:
    price=i.text
    product_price.append(price)

In [178]:
print(len(brand_name),len(product_description),len(product_price))

20 20 20

In [179]:
#creating the dataframe from above data- from first page
df=pd.DataFrame({'brand_name':brand_name,'product_description':product_description,'product_price':product_price,})
df

,brand_name,product_description,product_price
0,TWIN TOES,Stylish Sneakers For Women,₹598
1,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹296
2,Deals4you,Sneakers For Men,₹381
3,WELDONE,LIVES-BROWN Sneakers For Men,₹365
4,World Wear Footwear,Latest Collection Black-349 Trendy & Stylish C...,₹249
5,LEVI'S,Levi's Men's Lancer Sneakers Sneakers For Men,"₹1,759"
6,kardam&sons,casual sneaker shoes for men luxury fashion ca...,₹448
7,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹599
8,BRUTON,Sneaker Sneakers For Men,₹319
9,PUMA,Serve Pro Lite Sneakers For Men,"₹2,532"
10,Labbin,Casual Sneaker White Shoes For Men And Boys Sn...,₹499
11,aadi,Mesh Casuals For Men,₹749
12,PUMA,Rebound JOY Sneakers For Men,"₹3,054"
13,Chevit,Latest Women's Pack of 2 Stylish Slip-On Loafe...,₹327
14,BRUTON,Trendy Fashion Sports Combo Pack Of 3 Pairs Ou...,₹492
15,BERSACHE,Casual Sneakers Shoes for Men Pack of 2 Combo(...,₹444
16,Airland,Sneakers Shoes For Men Black Sneakers For Men,₹195
17,PUMA,Puma Smash v2 Buck Sneakers For Men,"₹1,948"
18,HOTSTYLE,CR-1 Sneakers For Men,₹262
19,SiR CORBETT,Sneakers For Men,₹908

# Q7:

In [39]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (4.3.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: sniffio in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [40]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [41]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [42]:
driver.get('http://www.myntra.com/shoes')

In [ ]:
price_option=driver.find_element(By.XPATH,'')
price_option.click()

# Q8:

In [32]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (4.3.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: outcome in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: certifi in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [33]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [34]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [35]:
driver.get('https://www.amazon.in/')

In [36]:
search_products=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_products.send_keys('Laptop')

In [37]:
search=driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]')
search.click()

In [38]:
cpu_type=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[12]/span/a/span')
cpu_type.click()

In [39]:
laptop_title=[]
laptop_ratings=[]
laptop_price=[]

In [40]:
#scraping the laptop title from the given page
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    title=i.text
    laptop_title.append(title)
#scraping laptop ratings from the given page
rating_tags=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')
for i in rating_tags[0:10]:
    rating=i.text
    laptop_ratings.append(rating)
#scraping laptop price from the given page
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=i.text
    laptop_price.append(price)

In [41]:
print(len(laptop_title),len(laptop_ratings),len(laptop_price))

10 10 10

In [42]:
df=pd.DataFrame({'laptop_title':laptop_title,'laptop_ratings':laptop_ratings,'laptop_price':laptop_price})
df

,laptop_title,laptop_ratings,laptop_price
0,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",26,"57,990"
1,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",19,"89,990"
2,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,26,"79,490"
3,Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...,23,"62,990"
4,(Renewed) Dell Latitude E7470 Intel Core i7 6t...,16,"38,899"
5,HP Pavilion 11th Gen Intel Core i7 15.6 inches...,45,"86,600"
6,(Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...,1,"43,198"
7,Acer Nitro 5 Gaming Laptop/12th Gen Intel Core...,7,"1,04,990"
8,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,17,"87,990"
9,HP Victus 12th Gen Intel Core i7 15.6 inch(39....,23,"1,04,000"

# Q9:

In [52]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (4.3.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: idna in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: certifi in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: six>=1.5.2 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [53]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [54]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [55]:
driver.get('https://www.ambitionbox.com/')

In [56]:
job_option=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[5]/a')
job_option.click()

In [57]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
designation.send_keys('Data Scientist')

In [58]:
search=driver.find_element(By.XPATH,'//button[@class="ab_btn search-btn round"]')
search.click()

In [59]:
job_location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label')
job_location.click()

In [60]:
company_name=[]
rating_of_the_company=[]
no_of_days_ago_job_was_posted=[]

In [61]:
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
#scraping the rating of the company from the given page
rating_tags=driver.find_elements(By.XPATH,'//a[@class="rating rating-4"]')
for i in rating_tags[0:10]:
    rating=i.text
    rating_of_the_company.append(rating)
#scraping the no of days ago the job was posted
job_posted_tags=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in job_posted_tags[0:10]:
    job_posted=i.text
    no_of_days_ago_job_was_posted.append(job_posted)

In [62]:
print(len(company_name),len(rating_of_the_company),len(no_of_days_ago_job_was_posted))

10 10 10

In [63]:
df=pd.DataFrame({'company_name':company_name,'rating_of_the_company':rating_of_the_company,'no_of_days_ago_job_was_posted':no_of_days_ago_job_was_posted})
df

,company_name,rating_of_the_company,no_of_days_ago_job_was_posted
0,CBRE South Asia Pvt Ltd,4.3,8d ago
1,GENPACT India Private Limited,4.3,via naukri.com
2,Genpact,4.0,1d ago
3,Ericsson India Global Services Pvt. Ltd.,4.0,via naukri.com
4,GENPACT India Private Limited,4.3,3d ago
5,Optum Global Solutions (India) Private Limited,4.0,via iimjobs.com
6,Optum Global Solutions (India) Private Limited,4.1,18d ago
7,Ericsson India Global Services Pvt. Ltd.,4.1,via naukri.com
8,SOPRA STERIA INDIA LIMITED,4.3,11d ago
9,EXL Services.com ( I ) Pvt. Ltd.,4.2,via naukri.com

# Q10:

In [113]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\chuma\onedrive\documents\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [114]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [115]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [116]:
driver.get('http://www.ambitionbox.com/')

In [117]:
salary_option=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]')
salary_option.click()

In [118]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [119]:
driver.get('https://www.ambitionbox.com/salaries?campaign=desktop_nav')

In [121]:
designation=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
designation.send_keys('Data Scientist')

In [112]:
search=driver.find_element(By.XPATH,'/html/body/section[1]/div/div/div/div[2]/form/div[2]/input')
search.click()

In [128]:
company_name=[]
total_salary_record=[]
average_salary=[]
minimum_salary=[]
maximum_salary=[]
experience_required=[]

In [129]:
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[1]/div/div/a')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
#scraping the total salary record from the given page
salary_tags=driver.find_elements(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[1]/div/div/div/span')
for i in salary_tags[0:10]:
    salary=i.text
    total_salary_record.append(salary)
#scraping the average salary from the given page
average_tags=driver.find_elements(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[1]/div/p')
for i in average_tags[0:10]:
    average=i.text
    average_salary.append(average)
#scraping the minimum salary from the given page
minimum_tags=driver.find_elements(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[2]/div[1]')
for i in minimum_tags[0:10]:
    minimum=i.text
    minimum_salary.append(minimum)
#scraping the maximim salary from the given data
maximum_tags=driver.find_elements(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[2]/div[2]')
for i in maximum_tags[0:10]:
    maximum=i.text
    maximum_salary.append(maximum)
#scraping the experienced required from the given page
experience_tags=driver.find_elements(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[1]/div/div/div')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [130]:
print(len(company_name),len(total_salary_record),len(average_salary),len(minimum_salary),len(maximum_salary),len(experience_required))

1 1 1 1 1 1

In [133]:
df=pd.DataFrame({'company_name':company_name,'total_salary_record':total_salary_record,'average_salary':average_salary,'minimum_salary':minimum_salary,'maximum-salary':maximum_salary,'experience_required':experience_required})
df

,company_name,total_salary_record,average_salary,minimum_salary,maximum-salary,experience_required
0,Walmart\nData Scientist Salary,(based on 22 salaries),₹ 31.7L,₹ 25.0L,₹ 45.0L,3-4 yrs experience (based on 22 salaries)